<div class="row justify-content-center">
  <div class="text-center">
    <div class="col-lg-4 col-lg-offset-4">
      <img src="../../../assets/4event8.PNG">
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="row col-lg-4 col-lg-offset-4">
    <h3>
      <a class="text-primary" [routerLink]="['/login']" routerLinkActive="router-link-active" >¿Ya tienes cuenta?</a>
    </h3>
  </div>
  <div class="row col-lg-4 col-lg-offset-4">
    <h3>
      <a class="text-primary" [routerLink]="['/new']" routerLinkActive="router-link-active">¿Aún no tienes una cuenta?</a>
    </h3>
  </div>
</div>
