<div class="row">
    <div class="col-md-4" *ngFor="let provider of providers">
        <div class="card text-center">
          <div class="card-header bg-info d-flex justify-content-between align-items-center">
            <h5>{{provider.nombre}}</h5>
          </div>
          <div class="card-body">
            <p>Teléfono: {{provider.telefono}}</p>
            <p>Correo electrónico: {{provider.correo_electronico}}</p>
            <p>Dirección: {{provider.direccion}}</p>
            <p>Tipo: {{provider.tipo}}</p>
            <button class="btn btn-info btn-block">Pagar</button>
          </div>
        </div>
      </div>
</div>
