<div class="col-md-4">
    <div class="card bg-info">
        <div class="card-header">
            <h5>¿Que paquete desea editar?</h5>
          </div>
            <div class="card-body">
              <input type="text" name="byid" [(ngModel)]="pack.id" placeholder="Id paquete">      
          </div>
          <div class="card-header ">
            <button class="btn btn-success" (click)="getPacketById()" class="form-control">Buscar</button>
          </div>
    </div>
    
    
</div>
<div class="col-md-4">
    <div class="card bg-info">
        <div class="card-header">
      <h5>paquete encontrado</h5>
        </div>
        <div class="card-body">
<p>Nombre: {{twopac.nombre}}</p>
<p>Precio: {{twopac.precio}}</p>
<p>Disponibilidad: {{twopac.disponibilidad}}</p>
<p>Descripcion: {{twopac.descripcion}}</p>

        </div>
        <div class="card-header bg-dark">
          <button class="btn btn-success" >Editar</button>
            </div>
      </div>
</div>