<div class="col-md-4" *ngFor="let evento of events">
  <div class="card text-center"  >
    <div class="card-header bg-info d-flex justify-content-between align-items-center">
      <h5>Fecha:{{evento.fecha | date: 'dd-MM-yyyy'}}</h5>
    </div>
    <div class="card-body">
      <p>Tipo: {{evento.tipo}}</p>
  
        <p>Estado: {{evento.estado}}</p>
    
      <p>Proveedor: {{evento.proveedor}}</p>
      <p>ID: {{evento.id}}</p>
      <button class="btn btn-info btn-block"  *ngIf="evento.estado =='Pendiente'" (click)="getAndUpdateEvent(evento.id)">Pagar</button>
    </div>
  </div>
</div>