  <div class="w-75 p-3">
          <div class="card-header">
            <h5>Ingrese los siguientes datos para crear su cuenta</h5>
            <div class="card-body">
              <div class="col-md-4 justify-content-center">
                <img class="hidden-md hidden-sm hidden-xs justify-content-center" src="https://cdn4.iconfinder.com/data/icons/social-communication/142/add_photo-512.png" width="200" height="200" />
              </div>
              <form>
                <div class="form-group has-feedback has-feedback-left">
                  <input type="text" name="Usuario" placeholder="Usuario" class="form-control autofocus">
                </div>
                <div class="form-group has-feedback has-feedback-left">
                  <input type="password" name="Contrasena" placeholder="Contraseña" class="form-control">
                </div>
                <div class="form-group has-feedback has-feedback-left">
                  <input type="text" name="Nombre" placeholder="Nombre" class="form-control">
                </div>
                <div class="form-group has-feedback has-feedback-left">
                  <input type="text" name="Apellidos" placeholder="Apellidos(s)" class="form-control">
                </div>
                <div class="form-group has-feedback has-feedback-left"> 
                  <input type="text" name="Telefono" placeholder="Teléfono" class="form-control">
                </div>
                <div class="form-group has-feedback has-feedback-left">
                  <input type="text" name=Correo placeholder="Correo electrónico" class="form-control">
                </div>
                <div class="form-group has-feedback has-feedback-left">
                  <input type="text" name="Direccion" placeholder="Dirección" class="form-control">
              </div>
              </form>
            </div>
            <div class="card-header ">
                <button class="btn btn-success" (click)="editar()" >Actualizar</button>
              </div>
          </div>
        </div>       
</div>