<div class="col-md-4 offset-md-4 center-block">
  <div class="card">
    <div class="card-title">
      <h3>Información de la cuenta</h3>
      <div class="card-body">
        <form>
          <div class="form-group">
            <input type="text" name="Usuario" placeholder="Usuario" class="form-control autofocus">
          </div>
          <div class="form-group">
            <input type="password" name="Contrasena" placeholder="Contraseña" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="Nombre" placeholder="Nombre" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="Apellidos" placeholder="Apellidos(s)" class="form-control">
          </div>
          <div class="form-group"> 
            <input type="text" name="Telefono" placeholder="Teléfono" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name=Correo placeholder="Correo electrónico" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="Direccion" placeholder="Dirección" class="form-control">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>