
<div id="report" #report>
    <button type="button" (click)="download()">Descargar</button>
<div class="col-md-4" *ngFor="let packetdetail of packetdetails" >
  <div class="card text-center">
    <div class="card-header bg-danger d-flex justify-content-between align-items-center">
      <h5>ID: {{ packetdetail.id }}</h5>
      
    </div>
    <div class="card-body">
        <p>Nombre:{{packetdetail.nombre}}</p>
        <p>Precio: {{ packetdetail.precio }}</p>
        <p>Disponibilidad:{{ packetdetail.disponibilidad }}</p>
        <p>proveedor:{{packetdetail.proveedor}}</p>
      <a href="" class="btn btn-danger btn-block"(click)="deletePacket(packetdetail.id)">
        delete
      </a>
    </div>
  </div>
</div>
</div>