
<div class="col-md-4" *ngFor="let packetdetail of packetdetails">
  <div class="card text-center">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h5>Fecha:</h5> <h5>{{ packetdetail.id }}</h5>
      <h3>Id:</h3><h5> {{packetdetail.nombre }} </h5>
    </div>
    <div class="card-body">
      {{ packetdetail.precio }}
      <p></p>
      {{ packetdetail.disponibilidad }}
      <p></p>
      {{packetdetail.proveedor}}
      <a href="" class="btn btn-info btn-block">
        EDIT EVENT
      </a>
    </div>
  </div>
</div>