<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <div class="row">
        <a class="navbar-toggler" routerLink="/packetsdetails">Packets</a>
        <a class="navbar-toggler" routerLink="/newpacket">New packet</a>
        <a class="navbar-toggler" routerLink="/editpacket">Edit packet</a>
        <a class="navbar-toggler" routerLink="/events">Events</a>
        <a class="navbar-toggler" routerLink="/newEvent">New event</a>
        <a class="navbar-toggler" routerLink="">Edit event</a>
        <a class="navbar-toggler" routerLink="">User</a>
        <a class="navbar-toggler" routerLink="">New user</a>
        <a class="navbar-toggler" routerLink="">Edit user</a>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
      aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>