<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <div class="row">
        <a class="navbar-toggler" [routerLink]="['/providers']" routerLinkActive="router-link-active">Providers</a>
        <a class="navbar-toggler" [routerLink]="['/events']" routerLinkActive="router-link-active">Events</a>
        <a class="navbar-toggler" [routerLink]="['/event/new']" routerLinkActive="router-link-active">Create an event</a>
        <a class="navbar-toggler" [routerLink]="['/customer/edit']" routerLinkActive="router-link-active">Edit profile</a>
        <a class="navbar-toggler" [routerLink]="['/customer/edit']" routerLinkActive="router-link-active">Logout</a>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
      aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>